{% extends 'Admin/Redis/redis_base.html' %}
{% load static i18n hosts %}

{% block menu-redis-index-active %} active {% endblock %}

{% block content %}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="p-xs">
        <div class="pull-left m-r-md">
          <i class="icon-redis text-danger mid-icon"></i>
        </div>
        <h2>{% trans 'Redis' %}</h2>
        <span>{% trans 'Just gaining experience with redis' %}</span>
      </div>
    </div>
    <div class="ibox-content forum-container">
      <div class="forum-title">
        <h3>{% trans 'General' %}</h3>
      </div>
      <div class="forum-item active">
        <div class="row">
          <div class="col-md-12">
            <div class="forum-icon">
              <i class="fa fa-book"></i>
            </div>
            <a href="https://redis.io/docs/" class="forum-item-title" target="_blank">{% trans 'Docs' %}</a>
            <div class="forum-sub-title">
              {% trans 'Documentation of redis' %}
            </div>
          </div>
        </div>
      </div>
      <div class="forum-item">
        <div class="row">
          <div class="col-md-12">
            <div class="forum-icon">
              <i class="fa fa-star"></i>
            </div>
            <a href="" class="forum-item-title">{% trans 'TODO' %}</a>
            <div class="forum-sub-title">
              {% trans 'Iterate over structures' %}: {% trans 'Do not use keys, use scans (like pagination)' %}
            </div>
          </div>
        </div>
      </div>
      <div class="forum-title">
        <h3>{% trans 'Other' %}</h3>
      </div>
      <div class="forum-item">
        <div class="row">
          <div class="col-md-12">
            <div class="forum-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="{% host_url 'admin-redis-string-table' host 'admin' scheme SITE_SCHEME %}"
               class="forum-item-title">{% trans 'Strings' %}</a>
            <div class="forum-sub-title">
              {% trans 'String docs' %}: <a href="https://redis.io/docs/data-types/strings/"
                                            target="_blank">{% trans 'docs' %}</a>
              <br>
              {% trans 'Commands' %}: <a href="https://redis.io/commands/?group=string"
                                         target="_blank">{% trans 'link' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-item">
        <div class="row">
          <div class="col-md-12">
            <div class="forum-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="{% host_url 'admin-redis-list-table' host 'admin' scheme SITE_SCHEME %}"
               class="forum-item-title">{% trans 'Lists' %}</a>
            <div class="forum-sub-title">
              {% trans 'List docs' %}: <a href="https://redis.io/docs/data-types/lists/"
                                          target="_blank">{% trans 'docs' %}</a>
              <br>
              {% trans 'Commands' %}: <a href="https://redis.io/commands/?group=list"
                                         target="_blank">{% trans 'link' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="forum-item">
        <div class="row">
          <div class="col-md-12">
            <div class="forum-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="{% host_url 'admin-redis-set-table' host 'admin' scheme SITE_SCHEME %}"
               class="forum-item-title">{% trans 'Set' %}</a>
            <div class="forum-sub-title">
              {% trans 'Set docs' %}: <a href="https://redis.io/docs/data-types/sets/"
                                         target="_blank">{% trans 'docs' %}</a>
              <br>
              {% trans 'Commands' %}: <a href="https://redis.io/commands/?group=set"
                                         target="_blank">{% trans 'link' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
