{% load i18n %}

{% if data %}
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{% trans 'Table' %}</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint"
             data-page-size="8">
        <thead>
        <tr>
          <th class="footable-visible">{% trans 'Name' %}</th>
          <th class="footable-visible" style="width: 10%">{% trans 'Length' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
          <tr class="footable-row {% if forloop.counter0|divisibleby:"2" %}footable-odd{% else %}footable-even{% endif %}"
              style="display: table-row;" data-details-row-id="footable-details-{{ forloop.counter0 }}">
            <td class="footable-visible">
              {{ item.key }}
            </td>
            <td class="footable-visible" style="width: 10%">{{ item.len }}</td>
          </tr>
          <tr class="footable-row-detail footable-details-hide" id="footable-details-{{ forloop.counter0 }}">
            <td class="footable-row-detail-cell" colspan="4">
              <div class="footable-row-detail-inner">
                <div class="footable-row-detail-row">
                  <div class="footable-row-detail-value">{{ item.values|join:' -> ' }}</div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}