{% load widget_tweaks %}

{% with field_class=field.field.widget.attrs.class input_type=field.field.widget.input_type %}
  {% if input_type == 'date' %}
    <div class="input-group date">
      {% if field_class %}
        {% render_field field class=field_class %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}
      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  {% elif input_type == 'checkbox' %}
      <label>
        {% if field_class %}
          {% render_field field class=field_class %}
        {% else %}
          {% render_field field %}
        {% endif %}
      {{ field.label }}
      </label>
  {% elif field_class %}
    {% render_field field class=field_class %}
  {% else %}
    {% render_field field class="form-control" %}
  {% endif %}
{% endwith %}