{% load widget_tweaks %}

<div class="form-group {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}d-none{% endif %}">
  {% if not field.field.widget.input_type == 'checkbox' %}
    <label for="{{ field.id_for_label }}">
      {% if field.field.required %}
        <strong>{{ field.label }}*</strong>
      {% else %}
        {{ field.label }}
      {% endif %}
    </label>
  {% endif %}

  <div>
    {% include 'base_form_render_field.html' %}
  </div>

  {% include 'base_field_error_block.html' %}
</div>
