{% extends 'Admin/Redis/String/redis_string_base.html' %}
{% load static i18n hosts %}

{% block activity-tab-string-get-range %}active{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% host_url 'admin-redis-string-get-range' host 'admin' scheme SITE_SCHEME %}">{% trans 'Get range' %}</a>
  </li>
{% endblock %}

{% block tab-content %}
  {% include 'Admin/Redis/String/components/redis_string_form.html' %}
  {% include 'Admin/Redis/String/components/redis_string_table.html' %}
{% endblock %}