{% extends 'Admin/Redis/redis_base.html' %}
{% load static i18n hosts %}

{% block menu-redis-list-active %} active {% endblock %}

{% block extra-libs-css %}
  <link href="{% static 'inspinia/css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block extra-css %}
  <style>
    .footable-details-show {
      display: block;
    }

    .footable-details-hide {
      display: none;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% host_url 'admin-redis-list-table' host 'admin' scheme SITE_SCHEME %}">{% trans 'List' %}</a>
  </li>
{% endblock %}

{% block content %}
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="{% block activity-tab-list-table %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-table' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Table' %}</a>
      </li>
      <li class="{% block activity-tab-list-push %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-push' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Push' %}</a>
      </li>
      <li class="{% block activity-tab-list-trim %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-trim' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Trim' %}</a>
      </li>
      <li class="{% block activity-tab-list-set-rem %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-set-rem' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Set/Rem' %}</a>
      </li>
      <li class="{% block activity-tab-list-insert %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-insert' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Insert' %}</a>
      </li>
      <li class="{% block activity-tab-list-move %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-move' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Move' %}</a>
      </li>
      <li class="{% block activity-tab-list-queue %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-queue' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Queue' %}</a>
      </li>
      <li class="{% block activity-tab-list-stack %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-stack' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Stack' %}</a>
      </li>
      <li class="{% block activity-tab-list-deque %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-deque' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Deque' %}</a>
      </li>
      <li class="{% block activity-tab-list-bpop %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-bpop' host 'admin' scheme SITE_SCHEME %}"> {% trans 'Block pop' %}</a>
      </li>
      <li class="{% block activity-tab-list-blmpop %}{% endblock %}">
        <a href="{% host_url 'admin-redis-list-blmpop' host 'admin' scheme SITE_SCHEME %}"> {% trans 'BLM pop' %}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="panel-body">
          {% block tab-content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra-libs-js %}
  <script src="{% static 'inspinia/js/plugins/footable/footable.all.min.js' %}"></script>
{% endblock %}

{% block extra-js %}
  <script>
    $(document).ready(function () {
      $('.footable').footable();
    });

    $('.footable-row').click(function (e) {
      e.preventDefault();
      let containerID = $(this).data('details-row-id');
      console.log(containerID);
      
      let $detailsContainer = $(`#${containerID}`);
      let classShow = 'footable-details-show';
      
      let classHide = 'footable-details-hide';
      console.log($detailsContainer);
      
      if ($detailsContainer.hasClass(classShow)) {
        $detailsContainer.removeClass(classShow).addClass(classHide);
      }
      else if ($detailsContainer.hasClass(classHide)) {
        $detailsContainer.removeClass(classHide).addClass(classShow);
      }

    })
  </script>
{% endblock %}