{% extends 'Admin/Redis/List/redis_list_base.html' %}
{% load static i18n hosts %}

{% block activity-tab-list-set-rem %}active{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% host_url 'admin-redis-list-set-rem' host 'admin' scheme SITE_SCHEME %}">{% trans 'Set/Rem' %}</a>
  </li>
{% endblock %}

{% block tab-content %}
  {% include 'Admin/Redis/List/components/redis_list_form.html' %}
  {% include 'Admin/Redis/List/components/redis_list_table.html' %}
{% endblock %}